@media (min-width: 1024px) {
  a:hover {
    animation: hover 1s 0.3s forwards;
  }
  a:not(:hover) {
    animation: fadeOne ease-in 0.5s forwards;
  }
  @keyframes hover {
    from {
      color: #677788;
      text-shadow: none;
    }
    to {
      color: #2476ff;
      text-shadow: black;
    }
  }
  @keyframes fadeOne {
    from {
      color: #2476ff;
      text-shadow: black;
    }
    to {
      color: #677788;
      text-shadow: none;
    }
  }
  .navBars {
    display: none;
  }
  .navOne,
  .navTwo {
    display: flex;
    gap: 49px;
  }
  .google,
  .asana,
  .weave,
  .google-ads {
    position: relative;
    animation: slideLeft 1.2s ease-out forwards;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .atlassian,
  .paypal,
  .calendar {
    position: relative;
    animation: slideUp 1.2s ease-out forwards;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100vw);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .pricing:hover {
    animation: shadow 1s forwards;
  }
  .pricing:not(:hover) {
    animation: fade 0.5s forwards;
  }

  @keyframes shadow {
    from {
      box-shadow: none;
    }
    to {
      box-shadow: black;
    }
  }
  @keyframes fade {
    from {
      box-shadow: black;
    }
    to {
      box-shadow: none;
    }
  }
  .buyNow:hover,
  .heroButton:hover,
  .pricingVideoButton button:hover,
  .submitButton:hover {
    animation: colorShift 0.8s forwards;
  }
  .buyNow:not(:hover),
  .heroButton:not(:hover),
  .pricingVideoButton button:not(:hover),
  .submitButton:not(:hover) {
    animation: shiftBack 0.8s forwards;
  }
  @keyframes colorShift {
    from {
      background-color: #2476ff;
      color: #ffffff;
    }
    to {
      background-color: #ffffff;
      color: #2476ff;
    }
  }
  @keyframes shiftBack {
    from {
      background-color: #ffffff;
      color: #2476ff;
    }
    to {
      background-color: #2476ff;
      color: #ffffff;
    }
  }
}

@media (max-width: 1023px) {
  @media (min-width: 768px) {
  }
  .navBars {
    width: 18px;
    height: 20px;
    color: #677788;
    appearance: none;
  }
  .nav nav,
  .nav .buyNow {
    display: none;
  }
  .heroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing {
    align-items: center;
    width: -webkit-fill-available;
  }
  .pricingLine {
    width: -webkit-fill-available;
    height: 1px;
    background-color: #8d8d8d;
  }
  .pricingTable {
    flex-direction: column;
    align-items: center;
  }
  .rowOne,
  .rowTwo {
    gap: 40px;
  }

  .pricingHeader {
    align-items: center;
  }
  .hireUs {
    flex-direction: column;
  }
  .hireLeft {
    flex-flow: row;
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    gap: 49px;
  }
  .navOne {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
  }
  .navTwo {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
  }
  .rowOne,
  .rowTwo {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topSection {
    padding-left: 35px;
  }
  .rowOne {
    flex-direction: column;
  }
  .rowTwo {
    flex-direction: column;
  }
  .heroMid {
    gap: 150px;
  }
  .frontTitle {
    padding-left: 16px;
    padding-right: 16px;
  }
  .bulletList {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
    padding-right: 34px;
    gap: 17px;
  }
  .bullet {
    flex-direction: row;
    justify-content: flex-start;
  }
  .rightWing,
  .leftWing {
    display: none;
  }
  .pricingTable {
    padding-left: 16px;
    padding-right: 16px;
  }
  .pricingSection {
    padding-left: 20px;
  }
  .hireUs {
    padding: 0;
  }
  .hireLeft {
    flex-direction: column;
  }
  .hireTitle {
    align-items: center;
  }
  .line {
    width: 300px;
    margin-right: 60px;
  }
  .hirePhrase {
    display: flex;
    align-items: center;
  }
  .hireBottom {
    align-items: center;
  }
  .hirePhrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .name {
    flex-direction: column;
  }
  .dropDown {
    flex-direction: column;
  }
  #nameFirst,
  #nameLast,
  #budget,
  #country {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navOne {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .navTwo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .companyNav,
  .featureNav,
  .documentationNav,
  .resourcesNav {
    align-items: center;
    justify-content: center;
  }

  .companyNav nav,
  .featureNav nav,
  .documentationNav nav,
  .resourcesNav nav {
    justify-content: center;
    align-items: center;
  }

  .about {
    align-items: center;
  }
}
